In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, MinMaxScaler
import category_encoders as ce

<h3>data preprocessing</h3>

In [ ]:
#data = pd.read_excel('C:/Users/1/Desktop/data_project/all_data.xlsx')

In [ ]:
time_info = data['time']
average_time = []
for st in time_info:
    try:
        s, k = 0, 0
        sr = 0
        arr = st.split(' ')
        for i, item in enumerate(arr, start=1):
            if (i%2)!=0:
                s+=float(item)
                k+=1
        sr = s/k
    except:
        sr = 0
        
    average_time.append(sr)
data.drop('time', axis = 1, inplace = True)
data['average_time'] = average_time

In [ ]:
toilet_info = data['toilet']
toilet = []
for st in toilet_info:
    try:
        s = 0
        arr = st.split(' ')
        for i, item in enumerate(arr, start=1):
            if (i%2)!=0:
                s+=float(item)
    except:
        s = 0
        
    toilet.append(s)
data.drop('toilet', axis = 1, inplace = True)
data['toilet'] = toilet

In [ ]:
balcony_info = data['balcony']
balcony = []
for st in balcony_info:
    try:
        s = 0
        arr = st.split(' ')
        for i, item in enumerate(arr, start=1):
            if (i%2)!=0:
                s+=float(item)
    except:
        s = 0
        
    balcony.append(s)
data.drop('balcony', axis = 1, inplace = True)
data['balcony'] = balcony

In [ ]:
service_lift = []
elevators_new = []
elevators = data['elevators']

for st in elevators:
    try:
        arr = st.split(' ')
        f=0
        for i, item in enumerate(arr, start=1):
            if i==1:
                elevators_new.append(int(item))
            if i==3:
                f=1
                service_lift.append(int(item))
        if f == 0 :
            service_lift.append(0)
    except:
        elevators_new.append(0)
        service_lift.append(0)

data.drop('elevators', axis = 1, inplace = True)
data['elevators'] = elevators_new    
data['service lift'] = service_lift

In [ ]:
#data.to_csv('property_value_data.csv')

In [2]:
data = pd.read_csv('C:/Users/1/Desktop/data_project/property_value_data.csv')
data.drop('Unnamed: 0', axis = 1, inplace = True)
# data = pd.read_excel('C:/Users/1/Desktop/data_project/property_value_data.xlsx')
data

,rooms,type,meters,district,price,price_per_meter,terms_of_transaction,mortgage,floor 1,floor 2,...,parking,address,hospital_info,eat_info,school_info,average_time,toilet,balcony,elevators,service lift
0,2,квартира,63.7,р-н Приморский,15900000.0,249608.0,свободная продажа,возможна,NaN,NaN,...,Подземная,"Санкт-Петербург, Белоостровская ул., 7",38,223,16,7.333333,1.0,1.0,1,1
1,5,квартира,313.0,р-н Центральный,179000000.0,571885.0,свободная продажа,возможна,7.0,9.0,...,NaN,"Санкт-Петербург, наб. Воскресенская, 4",89,570,38,5.500000,3.0,2.0,1,0
2,3,квартира,98.8,р-н Приморский,19600000.0,198381.0,альтернатива,возможна,21.0,25.0,...,NaN,"Санкт-Петербург, просп. Королева, 65",19,69,9,8.333333,2.0,1.0,3,1
3,2,квартира,46.0,р-н Фрунзенский,8000000.0,173913.0,альтернатива,возможна,3.0,9.0,...,NaN,"Санкт-Петербург, Альпийский пер., 15К3",23,104,7,10.000000,1.0,1.0,1,0
4,3,квартира,90.1,р-н Приморский,16900000.0,187569.0,свободная продажа,возможна,12.0,17.0,...,Наземная,"Санкт-Петербург, ул. Савушкина, 117к2",17,140,2,5.333333,2.0,1.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1786,1,квартира,54.0,р-н Василеостровский,12500000.0,231481.0,свободная продажа,возможна,9.0,17.0,...,Наземная,"Санкт-Петербург, Морская наб., 37к5",11,60,7,13.000000,0.0,2.0,2,0
1787,3,квартира,201.8,р-н Петроградский,58320000.0,288999.0,свободная продажа,NaN,1.0,6.0,...,NaN,"Санкт-Петербург, наб. Мартынова, 74Д",14,92,6,6.000000,3.0,0.0,1,0
1788,5,квартира,300.0,р-н Петроградский,115000000.0,383333.0,свободная продажа,возможна,4.0,4.0,...,NaN,"Санкт-Петербург, Константиновский просп., 26Г",38,178,16,6.000000,4.0,0.0,1,0
1789,2,квартира,53.0,р-н Адмиралтейский,16200000.0,305660.0,свободная продажа,возможна,2.0,14.0,...,Наземная,"Санкт-Петербург, ул. Парфеновская, 7к3",69,386,29,15.666667,1.0,1.0,1,1
1790,4,квартира,212.3,р-н Петроградский,101990000.0,480405.0,свободная продажа,NaN,5.0,8.0,...,NaN,"Санкт-Петербург, Каменноостровский просп., 64К2",85,436,38,11.666667,2.0,0.0,1,1

In [3]:
# counting unique parameter values
col_names = ['type', 'terms_of_transaction','mortgage', 'window_view', 'repair ', 'type_of_house','parking','toilet', 'balcony', 'elevators', 'service lift']

for i in col_names:
    print('\t\t',len(data[i]))
    print(data[i].value_counts())
    print()

		 1791
type
квартира       1688
апартаменты      66
Name: count, dtype: int64

		 1791
terms_of_transaction
свободная продажа     1514
альтернатива           171
переуступка             87
свободная продажа       14
альтернатива             1
Name: count, dtype: int64

		 1791
mortgage
возможна    1362
Name: count, dtype: int64

		 1791
window_view
На улицу и двор    608
Во двор            576
На улицу           358
Name: count, dtype: int64

		 1791
repair
Дизайнерский     528
Евроремонт       449
Косметический    352
Без ремонта      350
Name: count, dtype: int64

		 1791
type_of_house
Кирпичный              615
Монолитный             412
Панельный              217
Монолитно-кирпичный    139
Блочный                 19
Старый фонд              7
Name: count, dtype: int64

		 1791
parking
Наземная          436
Подземная         223
Открытая           26
Многоуровневая     25
Name: count, dtype: int64

		 1791
toilet
1.0    1064
2.0     382
0.0     203
3.0      82
5.0      29
4.0      28
7.0       3
Name: count, dtype: int64

		 1791
balcony
1.0    938
0.0    719
2.0    126
3.0      6
4.0      2
Name: count, dtype: int64

		 1791
elevators
1    965
0    490
2    259
3     66
4     11
Name: count, dtype: int64

		 1791
service lift
0    1227
1     520
2      36
3       6
4       2
Name: count, dtype: int64

In [4]:
# deleting values
data = data.loc[data['price']<400000000]
data = data.loc[data['rooms'] != '0.5']
data = data.loc[data['district'] != 'р-н Кронштадтский']

<h3>Filling missing values</h3>

In [5]:
# filling missing values

data = data.dropna (subset=['price'])

data['type'] = data['type'].fillna(data['type'].mode()[0])

data['toilet'] = data['toilet'].fillna(1)
data['toilet'].replace(0, 1, inplace=True)

data['mortgage'] = data['mortgage'].fillna('No')

data['parking'] = data['parking'].fillna('No')

data.sort_values(by=['type', 'meters', 'price'], ascending=[True, True, True], inplace=True)
data['living_area'] = data['living_area'].fillna(method='ffill')

data.sort_values(by=['district', 'floor 2'], ascending=[True, True], inplace=True)
data['year_at_home'] = data['year_at_home'].fillna(method='ffill')

data.sort_values(by=['rooms', 'district', 'price'], ascending=[True, True, True], inplace=True)
data['window_view'] = data['window_view'].fillna(method='ffill')

data['repair '] = data['repair '].fillna('Без ремонта')

data.sort_values(by=['district', 'price'], ascending=[True, True], inplace=True)
data['type_of_house'] = data['type_of_house'].fillna(method='ffill')


data['floor 1'] = data['floor 1'].fillna(data['floor 1'].mode()[0])
data['floor 2'] = data['floor 2'].fillna(data['floor 2'].mode()[0])

data.isna().sum()

rooms                   0
type                    0
meters                  0
district                0
price                   0
price_per_meter         0
terms_of_transaction    0
mortgage                0
floor 1                 0
floor 2                 0
living_area             0
window_view             0
repair                  0
type_of_house           0
year_at_home            0
parking                 0
address                 0
hospital_info           0
eat_info                0
school_info             0
average_time            0
toilet                  0
balcony                 0
elevators               0
service lift            0
dtype: int64

In [6]:
col_names = ['rooms', 'district', 'type', 'terms_of_transaction','mortgage', 'window_view', 'repair ', 'type_of_house','parking','toilet', 'balcony', 'elevators', 'service lift']

for i in col_names:
    print('\t\t',len(data[i]))
    print(data[i].value_counts())
    print()

		 1780
rooms
1     488
2     482
3     471
4     207
5      98
>5     34
Name: count, dtype: int64

		 1780
district
р-н Петроградский        382
р-н Приморский           233
р-н Центральный          207
р-н Московский           144
р-н Выборгский           123
р-н Василеостровский     115
р-н Невский              100
р-н Красногвардейский     84
р-н Адмиралтейский        75
р-н Красносельский        71
р-н Калининский           66
р-н Пушкинский            55
р-н Кировский             38
р-н Фрунзенский           38
р-н Колпинский            21
р-н Курортный             18
р-н Петродворцовый        10
Name: count, dtype: int64

		 1780
type
квартира       1716
апартаменты      64
Name: count, dtype: int64

		 1780
terms_of_transaction
свободная продажа     1508
альтернатива           170
переуступка             87
свободная продажа       14
альтернатива             1
Name: count, dtype: int64

		 1780
mortgage
возможна    1357
No           423
Name: count, dtype: int64

		 1780
window_view
На улицу и двор    694
Во двор            679
На улицу           407
Name: count, dtype: int64

		 1780
repair
Дизайнерский     525
Без ремонта      461
Евроремонт       446
Косметический    348
Name: count, dtype: int64

		 1780
type_of_house
Кирпичный              754
Монолитный             522
Панельный              293
Монолитно-кирпичный    180
Блочный                 24
Старый фонд              7
Name: count, dtype: int64

		 1780
parking
No                1074
Наземная           433
Подземная          222
Открытая            26
Многоуровневая      25
Name: count, dtype: int64

		 1780
toilet
1.0    1257
2.0     381
3.0      82
5.0      29
4.0      28
7.0       3
Name: count, dtype: int64

		 1780
balcony
1.0    933
0.0    713
2.0    126
3.0      6
4.0      2
Name: count, dtype: int64

		 1780
elevators
1    962
0    484
2    258
3     65
4     11
Name: count, dtype: int64

		 1780
service lift
0    1216
1     520
2      36
3       6
4       2
Name: count, dtype: int64

<h3>Creating a feature matrix and target vector</h3>

In [7]:
x = data[['rooms', 'type', 'meters', 'district',
          'terms_of_transaction', 'mortgage', 'floor 1',
          'floor 2', 'living_area', 'window_view', 'repair ', 
          'type_of_house', 'year_at_home', 'parking','hospital_info',
          'eat_info', 'school_info', 'average_time','toilet',
          'balcony', 'elevators', 'service lift']].copy()
y = data[['price']].copy()

In [8]:
# normalization of numerical features
columns_to_normalize = ['meters', 'floor 1', 'floor 2', 'living_area',
                        'year_at_home','hospital_info', 'eat_info', 'school_info', 
                        'average_time','toilet', 'balcony', 'elevators', 'service lift' ]

scaler = MinMaxScaler()

x[columns_to_normalize] = scaler.fit_transform(x[columns_to_normalize])
x

,rooms,type,meters,district,terms_of_transaction,mortgage,floor 1,floor 2,living_area,window_view,...,year_at_home,parking,hospital_info,eat_info,school_info,average_time,toilet,balcony,elevators,service lift
968,1,квартира,0.007053,р-н Адмиралтейский,свободная продажа,No,0.08,0.296296,0.016931,На улицу,...,0.977612,Подземная,0.293478,0.192376,0.222222,0.266667,0.000000,0.25,0.25,0.25
112,1,квартира,0.016643,р-н Адмиралтейский,свободная продажа,No,0.04,0.074074,0.058201,На улицу,...,0.302239,Наземная,0.679348,0.534247,0.700000,0.216667,0.000000,0.00,0.00,0.00
749,1,квартира,0.016643,р-н Адмиралтейский,свободная продажа,No,0.04,0.074074,0.058201,На улицу,...,0.302239,Наземная,0.679348,0.533055,0.688889,0.216667,0.000000,0.00,0.00,0.00
325,4,квартира,0.050246,р-н Адмиралтейский,альтернатива,возможна,0.04,0.111111,0.122540,На улицу и двор,...,0.552239,No,0.478261,0.384157,0.533333,0.261111,0.000000,0.00,0.00,0.00
347,4,квартира,0.038358,р-н Адмиралтейский,свободная продажа,возможна,0.16,0.111111,0.093122,На улицу,...,0.600746,No,0.266304,0.278142,0.466667,0.083333,0.000000,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,4,квартира,0.202885,р-н Центральный,свободная продажа,No,0.08,0.074074,0.280423,На улицу и двор,...,0.283582,No,0.597826,0.584276,0.577778,0.183333,0.000000,0.00,0.00,0.00
1776,4,квартира,0.202885,р-н Центральный,свободная продажа,No,0.08,0.074074,0.326984,На улицу и двор,...,0.283582,No,0.570652,0.539011,0.533333,0.175000,0.666667,0.00,0.25,0.00
1777,4,квартира,0.202885,р-н Центральный,свободная продажа,No,0.08,0.074074,0.280423,На улицу и двор,...,0.283582,No,0.597826,0.584276,0.577778,0.183333,0.000000,0.00,0.00,0.00
76,>5,квартира,0.262078,р-н Центральный,свободная продажа,No,0.08,0.148148,0.488677,На улицу и двор,...,0.559701,No,0.581522,0.477665,0.477778,0.000000,0.500000,0.00,0.25,0.25
744,>5,квартира,0.262078,р-н Центральный,свободная продажа,No,0.08,0.148148,0.488677,На улицу и двор,...,0.559701,No,0.581522,0.477665,0.477778,0.000000,0.500000,0.00,0.25,0.25

In [9]:
x = pd.get_dummies(data = x, columns=['type', 'district','terms_of_transaction', 'mortgage',
                                            'window_view', 'repair ', 'type_of_house', 'parking'], dtype=int)

encoder = ce.OrdinalEncoder(cols=['rooms'])

x = encoder.fit_transform(x)
x

,rooms,meters,floor 1,floor 2,living_area,year_at_home,hospital_info,eat_info,school_info,average_time,...,type_of_house_Кирпичный,type_of_house_Монолитно-кирпичный,type_of_house_Монолитный,type_of_house_Панельный,type_of_house_Старый фонд,parking_No,parking_Многоуровневая,parking_Наземная,parking_Открытая,parking_Подземная
968,1,0.007053,0.08,0.296296,0.016931,0.977612,0.293478,0.192376,0.222222,0.266667,...,0,0,1,0,0,0,0,0,0,1
112,1,0.016643,0.04,0.074074,0.058201,0.302239,0.679348,0.534247,0.700000,0.216667,...,1,0,0,0,0,0,0,1,0,0
749,1,0.016643,0.04,0.074074,0.058201,0.302239,0.679348,0.533055,0.688889,0.216667,...,1,0,0,0,0,0,0,1,0,0
325,2,0.050246,0.04,0.111111,0.122540,0.552239,0.478261,0.384157,0.533333,0.261111,...,1,0,0,0,0,1,0,0,0,0
347,2,0.038358,0.16,0.111111,0.093122,0.600746,0.266304,0.278142,0.466667,0.083333,...,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,2,0.202885,0.08,0.074074,0.280423,0.283582,0.597826,0.584276,0.577778,0.183333,...,1,0,0,0,0,1,0,0,0,0
1776,2,0.202885,0.08,0.074074,0.326984,0.283582,0.570652,0.539011,0.533333,0.175000,...,1,0,0,0,0,1,0,0,0,0
1777,2,0.202885,0.08,0.074074,0.280423,0.283582,0.597826,0.584276,0.577778,0.183333,...,1,0,0,0,0,1,0,0,0,0
76,5,0.262078,0.08,0.148148,0.488677,0.559701,0.581522,0.477665,0.477778,0.000000,...,1,0,0,0,0,1,0,0,0,0
744,5,0.262078,0.08,0.148148,0.488677,0.559701,0.581522,0.477665,0.477778,0.000000,...,1,0,0,0,0,1,0,0,0,0

In [ ]:
#data.to_csv('encoding_data.csv')